@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.6rem;
  text-align: center;
}

h1 {
  font-size: 6rem;
  text-align: center;
}
h2 {
  font-size: 2rem;
  text-align: center;
}

.temp {
  margin-top: 1rem;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 1);
}

.app:before {
  content: "";
  background: url("./assets/fiskekyrka.jpeg") no-repeat center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
}

::placeholder {
  color: #f8f8f8;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 0 1rem;
  top: 10%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .description {
  position: relative;
  text-align: center;
  margin-top: 3rem;
}

.app .key-details {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(0, 100, 150, 0.6);
}

.app .air {
  margin-top: 2rem;
  background-color: rgba(0, 100, 150, 0.6);
  padding: 1.5rem 1rem;
  border-radius: 12px;
}

.bold {
  font-weight: 700;
}

.unit {
  margin-top: -1.2rem;
  font-size: 1.2rem;
  margin-right: 5%;
  text-align: right;
}

.app .chartContainer {
  margin-top: 2rem;
  background-color: rgba(0, 100, 150, 0.6);
  padding: 1.5rem 1rem;
  border-radius: 12px;
}
